RewriteEngine On

RewriteRule ^bv$ https://alessiocardelli.com/ita/alessiocardelli.vcf  [R=301,L]

RewriteRule ^figma$ https://figma.com/@alessiocardelli  [R=301,L]

RewriteRule ^instagram$ https://www.instagram.com/alex.cardelli/  [R=301,L]

RewriteRule ^libroux$ https://www.amazon.it/UX-North-Star-aspiranti-designer/dp/B0BCSBNM46/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1663659667&sr=8-1  [R=301,L]

RewriteRule ^linkedin$ https://www.linkedin.com/in/alessiocardelli/  [R=301,L]

RewriteRule ^meet$ https://calendly.com/acardelli/conosciamoci  [R=301,L]

RewriteRule ^newsletter$ https://alessiocardelli.substack.com/  [R=301,L]

RewriteRule ^playlist$ https://open.spotify.com/playlist/4EyDHeRiCxNDenqsfbdb1J?si=d85677534c5a44d5  [R=301,L]

RewriteRule ^privacy$ https://docs.google.com/document/d/1rdNQefMgVjZadCjvzTBCLrDOmBuSHJ4il9xQaPVDYxg/edit?usp=sharing  [R=301,L]

RewriteRule ^skillmatrix$ https://www.linkedin.com/pulse/l%C9%99-ux-designer-di-vitruvio-alessio-cardelli/  [R=301,L]

RewriteRule ^telegram$ https://t.me/acardelli  [R=301,L]

RewriteRule ^tiktok$ https://www.tiktok.com/@alessiocardelli?_t=8VyuBX1OpPy&_r=1  [R=301,L]

RewriteRule ^todoist$ https://get.todoist.io/181n8259fmdo  [R=301,L]

RewriteRule ^twitter$ https://twitter.com/CardelliAlessio  [R=301,L]

RewriteRule ^uxhalley$ https://www.linkedin.com/newsletters/6958682327916924928/  [R=301,L]

RewriteRule ^whatsapp$ https://wa.me/+393337650394  [R=301,L]

RewriteRule ^wishlist$ https://www.amazon.it/hz/wishlist/ls/2AW79A135SLZM?ref_=wl_share  [R=301,L]
