/* STILI GENERALI E DESKTOP */

body {
  background-color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 150%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: url("cursor.svg") 40 40, auto;
  color: #161B1C;
}

.reveal{
  position: relative;
  transform: translateY(80px);
  opacity: 0;
  transition: 1s all ease-in-out;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.loader {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
}

.menu-mobile {
  display: none;
}

.menu {
  margin-top: 120px;
  margin-bottom: 160px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.logo a {
  color: #161B1C;
  text-decoration: none;
}

.menu-group {
  display: inline-flex;
  font-size: 24px;
}

.menu-links {
  margin-left: 40px;
}

.menu-links a {
  color: #161B1C;
  text-decoration: none;
  cursor: pointer;
}

a.link {
  color: inherit;
  text-decoration: none;
}

a.link {
  background:
    linear-gradient(
      to right,
      rgba(191, 210, 212, 1),
      rgba(191, 210, 212, 1)
    ),
    linear-gradient(
      to right,
      rgba(15, 127, 250, 1),
      rgba(15, 127, 250, 1)
  );
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms;
}

a.link:hover {
  background-size: 0 1px, 100% 1px;
  color: rgba(15, 127, 250, 1);
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.active-menu {
  background-size: 0 1px, 100% 1px !important;
  color: rgba(15, 127, 250, 1) !important;
  cursor: pointer !important;
}

.footer {
  padding-top: 160px;
}

hr {
  border: 1px solid rgba(22 27 28 / 20%);
  width: 100%;
  margin-bottom: 80px;
}

.footer-contents {
  display: flex;
  margin-bottom: 64px;
  gap: 120px;
}

.footer-link {
  font-size: 20px;
  padding-bottom: 8px;
}

.footer-link a {
  color: #161B1C;
  text-decoration: none;
  cursor: pointer;
}

.footer-block .logo {
  font-size: 20px;
  padding-bottom: 8px;
}

.footer-copyright {
  font-size: 16px;
  color: #161B1C;
  margin-bottom: 120px;
}

h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 150%;
  font-size: 64px;
  color: #161B1C;
  font-weight: bold;
  max-width: 70%;
  padding-bottom: 60px;
  margin-top: 0px;
}

h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #161B1C;
  font-weight: 600;
  margin-top: 0px;
}

h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #161B1C;
  font-weight: 400;
  margin-top: 0px;
}

.quote-group {
  display: flex;
  gap: 56px;
  padding-bottom: 160px;
}

.foto-quote {
  width: 80px;
  height: 80px;
  display: block;
  background: #e8ebf1;
  border: 0px solid;
  border-radius: 40px;
}

.quote-bold {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  color: #161B1C;
  max-width: 45%;
}

.quote-regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: #161B1C;
  max-width: 45%;
}

.foto-home {
  display: block;
  width: 100%;
  padding-bottom: 160px;
}

.quote-group-home {
  padding-bottom: 80px;
}

.content-list {
  padding-bottom: 160px;
}

.content-title, .inline-cta {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.content-title {
  margin-bottom: 40px;
}

.content-text {
  font-size: 32px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 150%;
}

.content-sub {
  font-size: 16px;
  font-weight: 400;
  margin-top:8px;
}

.content-box {
  padding-bottom: 32px;
}

.trust-group {
  display: flex;
  gap:40px;
}

.trust-box {
  max-width: 32%;
}

.trust-text {
  margin-top: 0px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 160%;
}

.people-box {
  display: flex;
  gap:24px;
}

.foto-people {
  width: 64px;
  height: 64px;
  display: block;
  background: #e8ebf1;
  border: 0px solid;
  border-radius: 40px;
}

.people-name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 0px;
}

.people-role {
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 0px;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.photo-box {
  max-width: calc(33.3% - 17px);
}

.photo-img {
  min-height: 240px;
  background: #e8ebf1;
  border: 0px solid;
  max-width: 100%;
}

.photo-alt {
  font-size: 14px;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 8px;
}

.testo-big {
  font-size: 32px;
  line-height: 150%;
  max-width: 65%;
  margin-bottom: 40px;
}

.testo {
  font-size: 20px;
  line-height: 160%;
  max-width: 65%;
  margin-bottom: 80px;
}

.super-title {
  font-size: 48px;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.no-padding-bottom {
  padding-bottom: 0px !important;
}

.margin-bottom-80 {
  margin-bottom: 80px !important;
}

.padding-bottom-80 {
  padding-bottom: 80px !important;
}

.margin-bottom-160 {
  margin-bottom: 160px !important;
}

.bulletpoint-box {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

.bulletpoint-list {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}

.projects-group {
  margin-bottom: 160px;
}

.project-box {
  display: flex;
  gap: 40px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 120px;
}

.project-img {
  width: 300px;
  height: 300px;
  display: block;
}

.project-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
}

.project-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.foto-content-mobile {
  display: none;
}


/* TABLET ORIZZONTALE */
@media (max-width: 1440px) {

  .container {
    max-width: 1024px;
    margin: auto;
  }

  .photo-box {
    max-width: calc(50% - 12px);
  }

}

/* TABLET ORIZZONTALE */
@media (max-width: 1200px) {

  .container {
    max-width: 860px;
    margin: auto;
  }

  h1 {
    max-width: 90%;
  }

  .testo-big {
    max-width: 90%;
    font-size: 28px;
  }

  .super-title {
    font-size: 36px;
  }

  .testo {
    max-width: 90%;
  }

  .quote-bold {
    font-size: 28px;
  }

  .photo-grid {
    flex-direction: column;
  }

  .photo-box {
    max-width: 100%;
    margin: auto;
  }

}

/* TABLET ORIZZONTALE */
@media (max-width: 1024px) {

  .container {
    max-width: 100%;
    margin: 0 64px;
  }

/**
  .menu-mobile {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    width: 84px;
    height: 24px;
    cursor: pointer;
    background-image: url(general/menu-mobile.png);
    background-size: 24px;
    background-position: right;
    background-repeat: no-repeat;
  }


  .menu-group {
    display: none;
  }
  **/

  .menu-group {
    position: fixed;
    bottom: 0px;
    height: 72px;
    background-color: white !important;
    width: 100%;
    z-index: 1000;
  }

  .menu-links {
    margin-left: 0px;
    padding: 16px 16px;
    padding-top: 24px;
    margin-right: 16px;
    text-decoration: none !important;
    height: 32px;
  }

  h1 {
    max-width: 100%;
  }

  .testo-big {
    max-width: 100%;
  }

  .testo {
    max-width: 100%;
  }

  .trust-group {
    flex-direction: column;
  }

  .trust-box {
    max-width: 100%;
  }

}

/* TABLET VERTICALE */
@media (max-width: 830px) {

  .quote-group {
    flex-direction: column;
    gap: 24px;
  }

  h1 {
    font-size: 48px;
  }

  .footer-contents {
    gap: 64px;
  }

  .quote-bold {
    max-width: 100%;
  }

  .quote-regular {
    max-width: 100%;
  }

  .bulletpoint-box {
    display: block;
  }

  .project-box {
    display: block;
  }

  .project-img {
    margin-bottom: 24px;
    max-width: 100%;
    height: 100%;
  }

  .foto-content-desktop {
    display: none;
  }

  .foto-content-mobile {
    display: block;
  }

}

/* MOBILE */
@media (max-width: 660px) {

  .container {
    max-width: 100%;
    margin: 0 32px;
  }

  .menu {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 32px;
    padding-bottom: 48px;
    background: white;
  }

/**
  .menu-mobile {
    font-size: 16px;
    line-height: 20px;
    width: 72px;
  }
  **/

  .menu-group {
    font-size: 20px;
    background-color: white !important;
  }

  .menu-links {
    padding: 16px 12px;
    margin-right: 8px;
    padding-top: 24px;
  }

  .logo {
    font-weight: bold;
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
    padding-bottom: 16px;
  }

  .quote-bold {
    font-size: 24px;
  }

  .quote-regular {
    font-size: 20px;
  }

  .quote-group-home {
    padding-bottom: 40px;
  }

  .foto-home {
    padding-bottom: 120px;
  }

  .content-text {
    font-size: 24px;
  }

  .content-list {
    padding-bottom: 120px;
  }

  .trust-text {
    font-size: 20px;
  }

  .footer {
    padding-top: 120px;
  }

  .footer-line {
    margin-bottom: 40px;
  }

  .footer-contents {
    flex-direction: column;
    gap: 40px;
  }

  .inline-cta {
    font-size: 20px;
  }

  .margin-bottom-80 {
    margin-bottom: 40px !important;
  }

  .padding-bottom-80 {
    padding-bottom: 40px !important;
  }

  .margin-bottom-160 {
    margin-bottom: 80px !important;
  }

}

/* MOBILE */
@media (max-width: 420px) {

  .menu-group {
    font-size: 16px;
    background-color: white !important;
  }

  .menu-links {
    padding: 16px 8px;
    margin-right: 4px;
    padding-top: 24px;
  }

}
