/* STILI GENERALI E DESKTOP */

@font-face {
  font-family: 'Satoshi';
  src: url('satoshi.otf') format('truetype');
}

@font-face {
  font-family: 'Safiro';
  src: url('safiro.ttf') format('truetype');
}

body {
  background-color: #FCFDFD;
  color: black;
  font-family: 'Satoshi', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  cursor: url('general/Cursor.png') 17 17, auto;
}

::selection {
  color: white;
  background: #006EFF;
}

.dark-mode body {
  background-color: #151617;
  color: white;
}

::selection {
  color: white;
  background: #006EFF;
}

.dark-mode ::selection {
  color: white;
  background: #006EFF;
}

.reveal{
  position: relative;
  transform: translateY(80px);
  opacity: 0 !important;
  transition: 1s all ease-in-out;
}

.reveal.active{
  transform: translateY(0);
  opacity: 100% !important;
}

.container {
  display: block;
  max-width: 1000px;
  padding-top: 280px;
  padding-bottom: 280px;
  margin: auto;
}

.hide {
  display: none;
}

h1, .title-big {
  font-family: 'Satoshi', sans-serif !important;
  font-size: 160px;
  line-height: 100%;
  letter-spacing: -4%;
  font-weight: 400;
  margin: 0;
  margin-bottom: 80px;
}

.title-subpage {
  font-size: 120px;
}

.text-big {
  font-size: 24px;
  line-height: 160%;
  margin: 0;
  margin-bottom: 56px;
  font-weight: 400;
  color: #000000a1;
}

.text-small {
  font-size: 20px;
}

.dark-mode .text-big {
  color: white;
}

.ctas {
  display: inline;
  padding-top: 36px;
}


.primary-btn {
  display: inline;
  padding: 16px 40px;
  background: white;
  border: 1px solid #000000;
  border-radius: 100px;
  font-family: 'Satoshi', sans-serif !important;
  font-size: 24px;
  font-weight: 400 !important;
  margin: 0;
  text-decoration: none;
  margin-right: 8px;
  transition: transform 0.2s;
  cursor: url('general/Pointer.png') 17 17, auto;
}

.dark-mode .primary-btn {
  background: black;
  border: 1px solid #ffffff;
  color: white;
}

.primary-btn:hover {
  background: black;
  color: white;
}

.dark-mode .primary-btn:hover {
  background: white;
  color: black;
}

.primary-btn:hover a {
  color: white;
  font-weight: 400 !important;
}

.dark-mode .primary-btn:hover a {
  color: black;
  font-weight: 400 !important;
}

.secondary-btn {
  display: inline;
  padding: 16px 40px;
  background: transparent;
  border-radius: 100px;
  border: none;
  color: black;
  font-family: 'Satoshi', sans-serif !important;
  font-size: 24px;
  font-weight: 400 !important;
  margin: 0;
  text-decoration: none;
  transition: transform 0.2s;
  cursor: url('general/Pointer.png') 17 17, auto;
}

.dark-mode .secondary-btn {
  background: transparent;
  color: white;
}

.secondary-btn:hover {
  background: #00000017;
}

.dark-mode .secondary-btn:hover {
  background: #ffffff17;
}

.primary-btn a, .secondary-btn a {
  text-decoration: none;
  color: black;
  font-weight: 400 !important;
}

.dark-mode .primary-btn a, .dark-mode .secondary-btn a {
  color: white;
  font-weight: 400 !important;
}

.icon-mode-light {
  display: none;
}

.icon-mode-dark {
  display: block;
}

.dark-mode .icon-mode-dark {
  display: none;
}

.dark-mode .icon-mode-light {
  display: block;
}

#dark-mode-toggle {
  position: absolute;
  top: 80px;
  right: 80px;
  padding: 16px;
  cursor: url('general/Pointer.png') 17 17, auto;
}

#dark-mode-toggle img {
  height: 24px;
  width: 24px;
  color: black;
}

#dark-mode-toggle:hover img {
  filter: invert(1);
}

.magnetic {
  margin: -50px;
  padding: 50px;
  display: inline-block;
  border-radius: 50%;
}

.suble {
  font-family: 'Satoshi', sans-serif !important;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -4%;
  font-weight: 400;
  margin: 0;
  margin-bottom: 56px;
  margin-top: 160px;
}

.text-link {
  font-family: 'Satoshi', sans-serif !important;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -4%;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
  cursor: url('general/Pointer.png') 17 17, auto;
}

.link {
  text-decoration: underline;
  color: #0000007d;
  box-shadow: inset 0 0 0 0 #000000;
	padding: 0 .25rem;
	margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  cursor: url('general/Pointer.png') 17 17, auto;
}

.dark-mode .link {
  color: #FFFFFF7d;
  box-shadow: inset 0 0 0 0 #FFFFFF;
  cursor: url('general/Pointer.png') 17 17, auto;
}

.last {
  color: #0000005e;
  margin-bottom: 0px;
}

.dark-mode .last {
  color: #ffffff5e;
}

.link:hover {
  color: #fff;
  box-shadow: inset 1000px 0 0 0 #000000;
  cursor: url('general/Pointer.png') 17 17, auto;
}

.dark-mode .link:hover {
  color: #000000;
  box-shadow: inset 1000px 0 0 0 #FFFFFF;
  cursor: url('general/Pointer.png') 17 17, auto;
}

.footer {
  font-size: 16px;
  color: #000000c4;
  line-height: 160%;
  margin: 0;
  margin-top: 160px;
}

.dark-mode .footer {
  color: #ffffffc4;
}

#alessio-foto {
  position: absolute;
  top: 80px;
  left: 80px;
  padding: 0px;
  cursor: url('general/Pointer.png') 17 17, auto;
  border: 0px solid !important;
}

#alessio-foto img {
  display: block;
  height: 58px;
  width: 58px;
  color: #000000e5;
  border-radius: 28px;
}

.arrow-white {
  display: none;
}

.arrow-black {
  display: block;
}

.dark-mode .arrow-black {
  display: none;
}

.dark-mode .arrow-white {
  display: block;
}

#icon-back {
  position: absolute;
  top: 80px;
  left: 80px;
  padding: 16px;
  cursor: url('general/Pointer.png') 17 17, auto;
}

#icon-back img {
  height: 24px;
  width: 24px;
  color: black;
}

#icon-back:hover img {
  filter: invert(1);
}

.share-white {
  display: none;
}

.share-black {
  display: block;
}

.dark-mode .share-black {
  display: none;
}

.dark-mode .share-white {
  display: block;
}

#condividiBtn {
  position: fixed;
  bottom: 80px;
  right: 80px;
  padding: 16px;
  cursor: url('general/Pointer.png') 17 17, auto;
  z-index: 1000;
  display: none;
}

#condividiBtn img {
  height: 24px;
  width: 24px;
  color: black;
}

#condividiBtn:hover img {
  filter: invert(1);
}

.spazio {
  display: block;
  height: 32px;
}

.img-desktop {
  display: block;
  max-width: 100%;
}

.img-mobile {
  display: none;
  max-width: 100%;
}

.caption {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Satoshi', sans-serif;
  text-align: center;
  max-width: 80%;
  margin: auto;
  margin-top: 20px;
}

.redirect-center {
  text-align: center;
}

.magic {
  font-family: 'Safiro', sans-serif !important;
  color: #006EFF !important;
}

.nocursor {
  cursor: default !important;
}

@media (max-width: 1160px) {

  .container {
    padding-top: 200px;
    padding-bottom: 160px;
    margin-left: 80px;
    margin-right: 80px;
  }

  h1, .title-big {
    font-size: 120px;
  }

  .title-subpage {
    font-size: 100px;
  }

}

@media (max-width: 830px) {

  #dark-mode-toggle {
    top: 40px;
    right: 40px;
  }

  #alessio-foto {
    top: 40px;
    left: 40px;
  }

#icon-back {
    top: 40px;
    left: 40px;
  }

  #condividiBtn {
    bottom: 40px;
    right: 40px;
    display: none;
  }

  .container {
    padding-top: 160px;
    padding-bottom: 120px;
    margin-left: 56px;
    margin-right: 56px;
  }

  .suble {
    font-size: 64px;
  }

}

@media (max-width: 660px) {

  #dark-mode-toggle {
    top: 24px;
    right: 24px;
  }

  #alessio-foto {
    top: 24px;
    left: 24px;
  }

  #icon-back {
    top: 24px;
    left: 24px;
  }

  #condividiBtn {
    bottom: 30px;
    right: 24px;
    display: block;
  }

  .container {
    margin-left: 24px;
    margin-right: 24px;
  }

  h1, .title-big {
    font-size: 72px;
    margin-bottom: 48px;
  }

  .title-subpage {
    font-size: 64px;
  }

  .text-big {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .caption {
    font-size: 12px;
  }

  .primary-btn {
    padding: 12px 24px;
    font-size: 20px;
  }

  .secondary-btn {
    padding: 12px 24px;
    font-size: 20px;
  }

  .magnetic {
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
}

  .suble {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 80px;
  }

  .text-link {
    font-size: 20px;
    margin-bottom: 12px;
    cursor: url('general/Pointer.png') 17 17, auto;
  }

  .footer {
    font-size: 14px;
  }

  .link:hover {
    color: #000000;
    box-shadow: inset 0 0 0 0 #000000;
    cursor: url('general/Pointer.png') 17 17, auto;
  }

}

@media (max-width: 400px) {

  .secondary-btn {
    padding: 12px 4px;
  }

  h1, .title-big {
    font-size: 56px;
    margin-bottom: 40px;
  }

  .title-subpage {
    font-size: 48px;
  }

  .img-desktop {
    display: none;
    max-width: 100%;
  }

  .img-mobile {
    display: block;
    max-width: 100%;
  }

}
